/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');


body { 
    background: url('/images/waterhole.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana;
    font-size: 13px;
    line-height: 18px;
}

div#page_container {
    float: left;
    width: 100%;
    padding: 0px;
    background: clear;
    }

header {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    background: #CAFF70;
}

#page {
    width: 80%;
    background: #FFE7BA;
    color: #333;
    padding: 20px;
}

#body_content {
    width: 100%;
    background: #FFE7BA;
}

nav#menu ul {
    list-style: none;
    padding: 10px;
}

nav#menu ul li {
    float: left;
    margin-right: 0px;
    margin-left:  0px;
}

nav#menu ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background: #CAFF70;
}

#menu ul li.selected a, #menu ul li a:hover {
    background: #FFE7BA;
}

div.footer {
    float: middle;
    font-family: Arial;
    font-size: 19px;
    line-height: 20px;  
    width: 80%;
    background: #FF8C00;

#body_content_title {
    color: purple;
    font-size: 49px;
}

h1 {
    color: purple;
    font-size: 49px;
}

section#body_content_left {
    font-size: 49px;
}

