/*
  Override default refinery formatting below.
  Formatting applies to backend WYSIWYG editors and all frontend.
*/


#body_content_title {
    color: purple;
    font-size: 29px;
}


#body_content_left {
  float: left;
  width: 55%;
  background: #FFE7BA;
  color: #333;
  padding: 20px;
}

#body_content_right {
  float: right;
  width: 35%;
  background: #FFE7BA;
  color: #333;
  padding: 20px;
}

caption {   
  background: #CDC673;
