<p 
<div class='footer'>
  Well this is some interesting text
</div>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Kersbrook Residents")) %>
</p>
