<div class="footer">
<p> 
  This "footer" text remains throughout the site
<br>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Kersbrook Residents")) %>
</p>
</div>
